$primary-blue-train: #0578ff;
$primary-black-train: #202020;
$white: #fff;
$primary-grey: #90a3bf;
$primary-black-train-50: rgba(32, 32, 32, 0.5);
$primary-grey-50: rgba(144, 163, 191, 0.5);
$good-yellow: #ffc501;
$bg-gray: #f5f5f5;
$green: #43a047;
$red: #ff6060;
$primary-blue-train-10: rgba(5, 120, 255, 0.1);
$semantic-colors-primary: #fff;
$primary-black: #202020;
$primary-blue: #0578ff;
$secondary-text: rgba(27, 43, 65, 0.69);
$semantic-colors-primary: #006af5;
$primary-black-50: rgba(32, 32, 32, 0.5);
$font-family:"Poppins", sans-serif;
$second-family: "Inter", sans-serif;